---
---
<div class="section-full section-white" style="border-bottom:0.5px solid #e2e0d8">
  <div class="container">
    <div class="stats-bar">
      <div class="stats-bar-item">
        <div class="highlight-num serif">0<span class="highlight-unit">biaya extra</span></div>
        <div class="highlight-label">Listrik, air, WiFi sudah masuk harga</div>
      </div>
      <div class="stats-bar-item">
        <div class="highlight-num serif">24<span class="highlight-unit">jam</span></div>
        <div class="highlight-label">Akses masuk &amp; keamanan aktif</div>
      </div>
      <div class="stats-bar-item">
        <div class="highlight-num serif">4<span class="highlight-unit">lantai</span></div>
        <div class="highlight-label">Dapur &amp; fasilitas bersama tiap lantai</div>
      </div>
    </div>
  </div>
</div>
