---
---
<div class="img-strip">
  <div class="img-block tall img-ph-1">
    <div class="img-ph-overlay">Foto kamar<br>terbaik</div>
    <span class="img-label">Kamar deluxe</span>
  </div>
  <div class="img-block img-ph-2">
    <div class="img-ph-overlay sm">Kamar mandi</div>
  </div>
  <div class="img-block img-ph-3">
    <div class="img-ph-overlay sm">Area parkir</div>
  </div>
  <div class="img-block img-ph-4">
    <div class="img-ph-overlay sm">Ruang tamu</div>
  </div>
  <div class="img-block img-ph-5">
    <div class="img-ph-overlay sm">Dapur</div>
  </div>
</div>
